/* styles.css */
.tier-creation-screen {
    display: flex;
    flex-wrap: wrap;
}

.item-list {
    width: 100%;
    margin-bottom: 20px;
}

.tier {
    width: 45%;
    margin: 2.5%;
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 10px;
}

.image-style {
    width: 100%;
    height: 200px; /* 固定高さ */
    object-fit: cover; /* アスペクト比を無視して中央を切り取る */
    border-radius: 8px; /* 必要に応じて角丸 */
}
