/* styles.css */
.tier-creation-screen {
    display: flex;
    flex-wrap: wrap;
}

.item-list {
    width: 100%;
    margin-bottom: 20px;
}

.tier {
    width: 45%;
    margin: 2.5%;
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 10px;
}