# Terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
*.tfplan
crash.log

# Logs
*.log

# Ignore editor files
*.swp
*.bak
*.tmp
*.orig
*.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
*.pem
*.key
*.crt
*.enc
*.jks

# Ignore binary files
*.bin
*.exe
*.dll

# Ignore docker files
.env
*.env.*

# Ignore init scripts if not needed
init-user.sql
